.body {
	overflow-y		: scroll;
	background		: white;
}

.panel {
	border-radius	: 5px;	
	border			: 1px solid black;
	margin			: 3%;
	
}
.panel .heading {
	background		: #0000FF;										
	border-radius	: 5px 5px 0 0;
	padding			: 10px 20px;
}
.panel .body {
	background		: #0000FF;											
	border-radius	: 0 0 5px 5px;
	padding			: 10px 20px;
}

.panel:hover {
	box-shadow		: 0px 0px 12px #666;
}
.infopanel {
	color			: #0000FF;											
	text-align		: center;
}
.li {
	width			: 50%;
	float			: left;
	padding			: 5px 0;
}

#about {
	margin-left: 10px;
}

.body p {				
  position: relative;
  top: 18px;
  left: 10px;
}

#content {
	padding:10px;
}

.clear {
	clear:both;
}

#mod{
	color: red;
	}
	
#hide{
   display: none; /* onLoad your div will be hidden */
}

ul {
  padding:0 0 0 0;
  margin:0 0 0 0;
}
ul li {
  list-style:none;
  margin-bottom:25px;
}
ul li img {
  cursor: pointer;
  height: 450px;
  width: 600px;
}
.controls{
    width:50px;
    display:block;
    font-size:11px;
    padding-top:8px;
    font-weight:bold;
}
.next {
    float:right;
    text-align:right;
}
