	<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading"><a href="?mode=index" title="Esileht"><img src="pic/logo.jpg" alt="logo" height="85" width="150"/> </a><h2>Kirjeldus</h2></div>
					<div class="panel-body">
							<img id="about" class="pull-right" src="pic/koer1.jpg" alt="Pilt1" height="370" width="350"/> 				
						
						<p style="text-align:left">
						Enamik täiskasvanud Saksa lambakoeri (SLKsid) on ilusad, lojaalsed, aktiivsed, armastavad, kaitsvad ja intelligentsed. 
						Samas – ilma õige suunamise ja treeninguta võivad nad olla ka ohjedamatud, destruktiivsed, tüütud ning väsitavad koduloomad. 
						On sinu enda teha, et koerast kasvaks sinu ja su pere elustiiliga sobiv kaaslane.
						</p>
						<br \>
						
						<a href="#" onclick="toggle_visibility('hide');"><p style="text-align:center">Vajuta siia täiendava informatsiooni saamiseks</p></a>
						<br />
						<div id="hide" style="text-align:left">
								Enamik täiskasvanud Saksa lambakoeri (SLKsid) on ilusad, lojaalsed, aktiivsed, armastavad, kaitsvad ja intelligentsed. Samas – ilma õige suunamise ja treeninguta võivad nad olla ka ohjedamatud, destruktiivsed, tüütud ning väsitavad koduloomad. 
								On sinu enda teha, et koerast kasvaks sinu ja su pere elustiiliga sobiv kaaslane.
								<br \>
								Paljud „sakslased” võivad muutuda ülemäära kaitsvaks ja territoriaalseks, kui majapidamises ei leidu nende jaoks kindlat karjajuhti, keda austada ja kuulata. Kes on tegelikult sinu majas peremees? Kui see pole sina – või su koer ei usu, et see oled sina – , siis võtab su SLK selle rolli enda kanda ja juhib olukorda koera, mitte inimese reeglite kohaselt (sest ta ongi ju koer!). 
								Enamasti ei ole koera reeglite järgi elamine midagi sellist, mis inimestele meeldiks. Mõnedki omanikud räägivad, et koer käitub territoriaalselt ning väljub kontrolli alt. Kõige selle põhjus on inimestes.
								Paljud (võib lausa öelda, et kõik) SLKd vajavad koolitust ja kindla süsteemiga elukorraldust, et saada ühiskonnakõlblikeks koerteks. Koolitus ei ole mitte lihtsalt see, kui sa teed koeraga läbi ühed 8-nädalastel kursused ... koolitus on tegelikult pidev õpetamine. Sa pead tagama, et koer käituks sinu reeglite kohaselt kogu oma eluaja!
								Oskusi käituda karjajuhina läheb sul vaja pidevalt. Koeraga suheldes on kõige tähtsam olla üheselt mõistetav, järjekindel ja õiglane ning näidata koerale, et igal tema teol on tagajärjed (head või mitte nii head). Kui selline käitumine on sinu jaoks loomulik või sa tegutsed teadlikult selle õnnestumise nimel, on SLK omamine suurepärane kogemus. 
								Kui sa aga ei taha koerapidamisele sellisel määral vaimselt ja füüsiliselt pühenduda või ei ole suuteline rakendama karjajuhikäitumist kui kogu pere elustiili, siis palun uuri teiste, sulle sobivamate koeratõugude kohta. Sel juhul ei ole hiljem põhjust kahetseda.
								<br \>
								Saksa lambakoer omab kahekihilist karvastikku (aluskarv + kattekarv). Sellest kasukast tuleb karva lahti aastaringselt, suuremate kogustena aga kaks korda aastas – kevadel ja sügisel – kui koer „karva vahetab”. Mõni koer ajab karva rohkem, mõni vähem, kuid üks on kindel – kui Su SLK elab toas, saab tolmuimejast sinu parim sõber. 
								Osa koeraomanike jaoks ei ole see iseenesestmõistetav nähtus. Kuna SLK on suur koer, võid suuri poriseid käpajälgi kohata tubades iga kord, kui vihma sajab.
								Erinevatest vereliinidest SLKd näevad välja ja käituvad erinevalt, osalt on ka nende vajadused erinevad. Uuri SLK kasvatajatelt nende erinevuste kohta ja tee kindlaks, mida sa tegelikult koeralt ootad. On olemas Saksa liinid, muud Euroopa liinid, Ameerika liinid jne. Paljudel Euroopa ja osal Põhja-Ameerika liinidest põlvnevatel SLKdel on väga tugev töötahe. 
								Nendel koertel on sageli rohkem energiat kui näituseliini esindajatel ja kui nad ei saa õiget koolitust, piisavalt liikuda ning „ajutööd”, võivad neist kujuneda koduse majapidamise nuhtlused. Kas oled valmis tegelema väga energilise saksa lambakoeraga või sobiks sulle rahulikuma iseloomuga SLK?
								Kui teed kasvataja abiga endale selgeks erinevate liinide omadused, on sul lihtsam valida just enda jaoks sobiv SLK.
								<br \>
								Saksa lambakoer on tuntud kui „intelligentne” tõug. Pea meeles, et „intelligentsus” võib olla tore asi, tähendades seda, et koer õpib väga kiiresti, kui temaga osatakse õigesti suhelda.
								Teisalt võib „intelligentsus” tähendada seda, et selline koer vajab palju füüsilist ja vaimset tegevust, sarnaselt intelligentse lapsega.
								Igavlev SLK leiab endale enamasti ise mingi meelelahutuse, näiteks kaevab, haugub, „karjatab” väikesi lapsi, närib mööblit või laste mänguasju jne.
								Pea meeles, et täisväärtusliku elu jaoks vajavad SLKd liikumist, sotsialiseerimist ja vaimset stimuleerimist praktiliselt iga päev.
								<br \><br \>
								Internetimaterjalide põhjal refereeris Mari Ojarand
							</div>
								<script>
								<!--
							function toggle_visibility(id) {
							   var e = document.getElementById(id);
							   if(e.style.display == 'block')
								  e.style.display = 'none';
							   else
								  e.style.display = 'block';
							}
								</script>
					</div>
			</div>