
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading"><a href="?mode=index" title="Esileht"><img src="pic/logo.jpg" alt="logo" height="85" width="150"/> </a><h2>Contact</h2></div>
					<div class="panel-body">
					<p>E-mail: andres.sasko@itcollege.ee</p>
					<p>Tel: 53076969</p>
					<p><a href="https://www.facebook.com/andres.so.5" target="_blank">
					<img src="pic/facebook.jpg" alt="MinuFb" height="31" width="30"/>
					</a></p>
					</div>
			</div>
			