<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading"><a href="?mode=index.html" title="Esileht"><img src="pic/logo.jpg" alt="logo" height="85" width="150"/> </a><h2>Kutsikad saadaval:</h2>
				</div>
					<div class="panel-body">
					
					<!--
					<table width="600" border="1" cellpadding ="1" cellspacing ="1">
					<tr>
					<th>ID</th>
					<th>Nimi</th>
					<th>Vanus</th>
					<th>Hind</th>
					<tr>
					-->
<?php

require_once("dogs.php");
connect_db();
kuva_kutsikad();

?>	
</div>
</div>	



	
			