<!doctype html>
<html>
	<head>
		<!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">-->
		<!--The http-equiv attribute provides an HTTP header for the information/value of the content attribute.
		The http-equiv attribute can be used to simulate an HTTP response header.
		HTML 4.01: <meta http-equiv="content-type" content="text/html; charset=UTF-8">
		HTML5: <meta charset="UTF-8">-->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--control page dimensions and scalig, adjust width and initaial zoom -->
		<meta name="description" content="saksa lambakoera info, pildid"> <!--meta description google etc-->
	
		<link rel = "stylesheet" href = "css/main.css">
		<link href="css/bootstrap.css" rel="stylesheet">
		
		<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="js/jquery.bsPhotoGallery.js"></script>

		<title>A.S. Lambakoer</title>	
	</head>
	<body class="body">
		<header class="navbar-inverse"> <!--black navbar--> 
			<div class="container">
				<nav><!--The <nav> element allow the author to mark up major navigation blocks in the HTML5 pages-->
				  <div class="container-fluid"> <!--Bootstrap requires a containing element to wrap site contents and house our grid system. Fluid os a full width container, spanning the entire width of your viewport. -->
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					  <!-- <a class="navbar-brand" href="?mode=index">Esileht</a> -->
					  <a class="navbar-brand" href="?mode=index">Esileht</a>
					</div>
					  <ul class="nav navbar-nav">
						<!-- <li class="active"><a href="#">Link</a></li> -->
						<li><a href="?mode=about">Koertest</a></li>
						<li><a href="?mode=dogs">Koerad</a></li>
						<li><a href="?mode=terms">Nõuded</a></li>
						<li><a href="?mode=pictures">Pildid</a></li>
						<li><a href="?mode=contact">Kontakt</a></li>
					</ul>	
					</div>
				</nav>
			</div>
		</header>