
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading">
				<a href="?mode=index" title="Esileht"><img src="pic/logo.jpg" alt="logo" height="85" width="150"/>
				</a><h2>Saksa Lambakoer</h2></div> <!--logo will lead to the front page-->
					<div class="panel-body">
						<h1>
							Tere tulemast!
						</h1>
						Antud lehe eesmärk on tutvustada külastajale Saksa lambakoera.Saksa lambakoer on suur ja aktiivne koer, kes aretati inimest teenima lambakoerana või muude tööülesannete täitmiseks. 
						SLKde töötahe on geneetiline ning väljendub osadel koertel tugevamini kui teistel. On juhuseid, kus saksa lambakoerad jõuavad varjupaika just sel põhjusel, et nad on tööloomad, paraku tahtsid omanikud endale tegelikult ainult diivanikaunistust.
						Mõtle selle peale hoolikalt, enne kui võtad saksa lambakoera.
						
					</div>
			</div>	
			

