			

<div class="container">

	<div class="panel panel-default">
	
		<div class="panel-heading"><a href="?mode=index" title="Esileht"><img src="pic/logo.jpg" alt="logo" height="85" width="150"/> </a>
		
	
	<div id="fountainTextG">
	<h3 id="fountainTextG_1" class="fountainTextG">N</h3>
	<h3 id="fountainTextG_2" class="fountainTextG">õ</h3>
	<h3 id="fountainTextG_3" class="fountainTextG">u</h3>
	<h3 id="fountainTextG_4" class="fountainTextG">d</h3>
	<h3 id="fountainTextG_5" class="fountainTextG">e</h3>
	<h3 id="fountainTextG_6" class="fountainTextG">d</h3>
	<h3 id="fountainTextG_7" class="fountainTextG">:</h3>
	</div>
		<!--<h2 class="tlt" data-in-effect="rollIn">Nõuanded enne ostmist:</h2>-->
		
		</div>
			<div style="clear: both;"></div>	
			<div class="panel-body">
							<p>	Kutsika muretsemisel pea meeles järgmist:</h3>
							<br>
								- Kutsikas ei jää igavesti kutsikaks. Mistõttu pead arvestama tema mõõtmete, toidu-, jalutamis- ja muude vajaduste mitmekordse kasvuga. Kas Sinu pere on selleks valmis?
							<br>
								- Koera pidamine on kulukas - kvaliteetne toit, võimalik veterinaarteenuse vajadus jne.
							<br>
								- Kutsikas ei saa olla majas peremees. Mistõttu tuleb teda kindlasti koolitada. Pea meeles, et saksa lambakoer on siiski enne kõike teenistuskoer. Kas Sul on piisavalt aega ja kannatust?
							<br>
								- Koera kasvataja võib koera ostu-müügi lepingusse lisada ka nõuded koeraga näitustel osaleda, koera koolitada, temaga terviseuuringud läbida ning koera oma kenneli all aretuses kasutada. Lepingutingimustes saab eelnevalt kasvatajaga kokku leppida.		
							<br>
								Kui siiski otsustad saksa lambakoera kutsika võtta, siis vaatame, kust kutsikas leida:
							<br>
								Eesti Saksa Lambakoerte Ühing soovitab osta ainult tõutunnistusega saksa lambakoera kutsikat, eelistatult ESLÜ poolt üle vaadatud pesakondadest.. Pesakondade ülevaatuse eesmärgiks on kutsikate pidamistingimuste kontrollimine ja ühingule aretust puudutava olulise info kogumine.
								Kennelite ja pesakondade kohta saad infot siit:
							<br>
								- Kui oled leidnud sobiva kenneli, kes Sulle kutsika müüb, uuri kutsika vanemate tausta. Palu vanemaid võimaluse korral näha; vaata, kuidas nad reageerivad Sinu kohalolekule - see näitab osaliselt ka Sinu tulevase kutsika käitumist täiskasvanuna.
							<br>
								- Küsi kindlasti pärilike haiguste, düsplaasia- e. liigesteuuringu tulemuste kohta (seda näitab tõutunnistusel koera nime juures olev täht A, B või C)
							<br>
								- Küsi, milline on vanemate koolituse aste - dressuurieksamite/võistluste tulemused. Mida paremini on vanemad koolitatud, seda paremini võtab õppust ka Sinu kutsikas.
							<br>
								- Koerakasvataja sõlmib Sinuga ostu-müügi lepingu, mistõttu tutvu põhjalikult lepingu sisuga, et hiljem ei oleks pettumust, kui probleemide korral lepingust endale ebasobiva tingimuse avastad või ilmnevad koeral (tervise) probleemid, kuid kasvataja Sulle raha tagastada ei soovi.
							<br>
								Mille järgi valida pesakonnast Sulle sobivaim kutsikas?
							<br>
								Kõigepealt - kas emane või isane? Mõlemal on omad plussid ja miinused. Küllap oled need endale juba selgeks teinud.
								Edasi - kas koerast saab kodukoer, näitusekoer või töökoer (politsei, piirivalve, päästeteenistus, jne). Erinevad tegevused nõuavad ka koeralt erinevaid omadusi. Selle kohta saad lähemalt teavet kasvatajatelt.
							<br>
								Kutsika valikul on olulised järgmised aspektid:
							<br>
								- Üldmulje. Terve kutsikas on sõbralik ja uudishimulik ning lubab ennast igalt poolt katsuda. Tee proovi! Libista sõrmed läbi karvade. Terve kutsika karv on sile ega tokerdu kusagilt. Pööra kutsikas õrnalt selili ja vaata, kas nahk on ka kõhu alt sile ega puneta või ketenda kusagilt. (korpade leidmisel võib olla oht, et kutsikal on kirbud!).
							<br>
								- Palu luba vaadata, kuidas kutsikad kausist söövad.
							<br>
								- Närvisüsteemi võid testida, kui viskad kutsika ette maha näiteks kimbu võtmeid. Normaalne on, kui kutsikas neid uudishimulikult nuusutama tõttab või peale pisut tagasitõmbumist siiski nendega tutvust teeb. Probleem tekib siis, kui kutsikas ehmunult ära jookseb ja tagasi ei tule.
							<br>
								- Vaata ka kutsikate suurust. Peaskonna ühtlane suurus annab tunnistust nende vanemate sobivusest paaritusel ja kutsikate heast hooldamisest.
							<br>
								- Väike soovitus - käi kutsikaid vaatamas mitu korda. Nii saad parema ülevaate nende arenemisest ja see lihtsustab ka valiku tegemist.
							<br>
								- Kui Sul on piisavalt aega, võite kutsikatele (või Sinu poolt väljavalitule) teha mõne seltsivuse, iseloomu ja ehituse korrektsuse astet näitava testi. Inglisekeelse testi leiad siit:  Ja lõpuks, otsustaja oled siiski Sina ise, mistõttu ära lase ennast teistel mõjutada.
							<br>	
								
								Kas üks või kaks koera?
							<br>	
								
								Kui Sul veel koera ei ole, ära võta korraga kahte kutsikat! Kutsikas vajab väga palju hoolitsust ja tegelemist, mistõttu võib juhtuda, et üks neist Sinu otsuse tõttu (võtta kaks koera) millestki ilma jääb. Peale selle, kui koerad on koos kasvanud, ei ole Sul neid hiljem võimalik valutult teineteisest eraldada - koerad muutuvad üksteisest sõltuvaks. Kaks koera moodustavad omakeskis juba "karja", mistõttu nad ei pruugi aktsepteerida väljaspool oma karja olevaid koeri.
							<br>
								Kui Sul on juba üks koer, siis sõltub palju sellest, mis soost ja kui vana Sinu esimene koer on. Kaks ühest soost koera ei pruugi omavahel sobida, eriti juhul, kui nende vanusevahe on kas liiga väike või liiga suur. Soovitav vanusevahe on vähemalt kolm aastat. Seega on veriste kakluste ärahoidmiseks soovitav võtta teine koer hiljem ning erinevast soost.								
							</p>
	
	
	
		</div>
	</div>

			
<script>		

</script>
			
			